<div class="landing-header">
	<div class="landing-header-inner">

		<img class="header-logo" src="img/logo.png"/>
		<div class="header-sub-header">
			Make Someone's Day. Send Fun, Anonymous Picture Messages To Any Phone Number.
		</div>
		<!-- store buttons -->
		<!-- <div class="header-store-badges">
			<img class="header-store-badge" src="http://i.imgur.com/MQ5T2Xp.png"/>
			<img class="header-store-badge" src="http://i.imgur.com/uDpGth0.png"/>
		</div> -->
		<!-- beta sign up -->
		<div class="header-beta-buttons" >
			<div class="beta-text" ng-show="!selectedDevice">Launching soon. Join the beta for:</div>
			<div class="beta-icons">
				<span class="beta-icon icon-apple" ng-show="!selectedDevice" ng-click="setDevice('iphone')"></span>
				<span class="beta-icon icon-android" ng-show="!selectedDevice" ng-click="setDevice('android')"></span>
			</div>
		</div>
		<div class="beta-form" ng-hide="mailchimp.result === 'success'">
			<div class="beta-text" ng-show="selectedDevice == 'iphone'">Join the beta for iPhone</div>
			<div class="beta-text" ng-show="selectedDevice == 'android'">Join the beta for Android</div>
			<form name="MailchimpSubscriptionForm" ng-controller="MailchimpSubscriptionCtrl">
				<!-- hidden fields -->
				<input class="hidden" type="hidden" ng-model="mailchimp.username" ng-init="mailchimp.username='rufflesms'">
				<input class="hidden" type="hidden" ng-model="mailchimp.dc" ng-init="mailchimp.dc='us11'">
				<input class="hidden" type="hidden" ng-model="mailchimp.u" ng-init="mailchimp.u='f10454ca88f63f8bab93d5814'">
				<input class="hidden" type="hidden" ng-model="mailchimp.id" ng-if="selectedDevice == 'iphone'" ng-init="mailchimp.id='e7359606ba'">
				<input class="hidden" type="hidden" ng-model="mailchimp.id" ng-if="selectedDevice == 'android'" ng-init="mailchimp.id='16c194b775'">
				<!-- form -->
				<div ng-hide="mailchimp.result === 'success' || !selectedDevice">
					<div class="beta-email-control">
						<span class="icon-email beta-email-icon"></span>
						<input class="beta-email-input" placeholder="Enter Your Email" type="email" name="email" ng-model="mailchimp.EMAIL" required></input>
					</div>
					<!-- active submit -->
					<div class="beta-email-submit-outer" ng-click="addSubscription(mailchimp); ga('send', 'event', 'mailchimp', 'subscribe', selectedDevice );" ng-show="!MailchimpSubscriptionForm.$invalid">
						<div class="beta-email-submit-inner">
							Sign Up!
						</div>
					</div>
					<!-- inactive submit -->
					<div class="beta-email-submit-outer" ng-show="MailchimpSubscriptionForm.$invalid">
						<div class="beta-email-submit-inner beta-email-submit-inactive">
							Sign Up!
						</div>
					</div>
				</div>
				<div class="beta-message" ng-show="mailchimp.result === 'error' || mailchimp.result === 'success'">
					<!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
					<div ng-show="mailchimp.result === 'error'" ng-cloak>
						<span ng-bind-html="mailchimp.errorMessage"></span>
					</div>

					<!-- Show success message if MailChimp returned successfully. -->
					<div ng-show="mailchimp.result === 'success'" ng-cloak>
						<span ng-bind-html="mailchimp.successMessage"></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- <div class="landing-menu">
	<div class="menu-item">
		Media
	</div>
	<div class="menu-item menu-item-strong">
		Block My Number
	</div>
</div> -->
