body{
	background-color: #7DE5B3;
}
.landing-header{
	display: table;
	min-height: 100%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}
.landing-header-inner{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.header-bird{
	height: 45px;
	width: auto;
}
.header-logo{
	height: 40px;
	width: auto;
	margin-bottom: 20px;
}
.header-logo-mobile{
	display: none;
}

.landing-panels{

}
.landing-panel-1{
	width: 30%;
	display: inline-block;
	padding: 20px;
	box-sizing: border-box;
}
.phone-mockup{
	position: relative;
	display: block;
	/*height: 542px;*/
	/*width: 282px;*/
	padding-bottom: 192.19%;
	background-image: url(/img/mockup.png);
	background-size: 100%;
	
}
.video-container{
	position: absolute;
	top: 7.5%;
	left: 4%;
	right: 4%;
	bottom: 7.5%;
}
.landing-panel-2{
	display: inline-block;
	vertical-align: top;
	width: 69%;
	padding: 150px 75px 75px;
	box-sizing: border-box;
}


.header-sub-header{
	font-size: 30px;
	font-weight: 500;
	color: #FFF;
	text-align: left;
}

.appstore-badges{
	margin-top: 50px;
	/*height: 100px;*/
}
.header-store-badge{
	cursor: pointer;
}



/*menu*/
.landing-menu{
	border-top: 10px solid #E1FDEF;
	margin-top: -10px;
	min-height: 55px;
	background-color: #FFF;
	z-index: 5;
}
.landing-menu-inner{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.menu-item-bird{
	height: 25px;
	width: auto;
	margin-right: 40px;
	vertical-align: text-bottom;
}
.menu-item{
	display: inline-block;
	line-height: 55px;
	margin-right: 40px;
	color: #56D296;
	cursor: pointer;
	&:hover { color: #35B97A };
}
.menu-item-strong{
	font-weight: 500;
}

@media @wu1000{
	.landing-panel-2{
		padding: 120px 20px 50px;
	}
}
@media @wu770{
	.landing-header{
		max-width: 400px;
	}
	.landing-header-inner{
		text-align: center;
	}
	.header-logo-mobile{
		display: inline-block;
		padding-top: 20px;
		margin-bottom: 0px;
	}
	.header-logo-desktop{
		display: none;
	}
	.landing-panel-1{
		display: block;
		width: 100%;
		padding: 40px;
	}
	.landing-panel-2{
		display: block;
		padding: 20px;
		width: 100%;
	}
	.header-sub-header{
		font-size: 25px;
		text-align: center;
	}
	.appstore-badges{
		margin-bottom: 50px;
	}
}
@media @wu700 {
	.landing-menu-inner{
		padding-left: 15px;
	}
	.menu-item-bird{
		margin-right: 25px;
	}
	.menu-item{
		margin-right: 25px;
	}
}

@media @wu370 {

}
