body{
	background-color: #7DE5B3;
}
.landing-header{
	display: table;
	min-height: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	
}
.landing-header-inner{
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.header-bird{
	height: 45px;
	width: auto;
}
.header-logo{
	height: 55px;
	width: auto;
}
.header-sub-header{
	margin-top: 70px;
	/*padding: 0 10%;*/
	font-size: 40px;
	font-weight: 500;
	color: #FFF;
	text-align: left;
}


/*Store badges*/
.beta-text{
	margin-top: 75px;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 10px;
	color: #FFF;
}
.appstore-badges{
	margin-top: 75px;
	height: 100px;
}
.header-store-badge{
	cursor: pointer;
}

/*email signup*/
.beta-form{
	margin-top: 50px;
	height: 100px;
}
.beta-email-control{
	color: #fff;
}
.beta-email-icon{
	vertical-align: middle;
	font-size: 40px;
	color: #DCDCDC;
}
.beta-email-input{
	outline: none;
	border: 1px solid #CBCBCB;
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.beta-email-submit{
	display: inline-block;
	font-size: 18px;
	height: 37px;
	border-radius: 30px;
	border: 5px solid rgba(0,0,0,0.1);
	background-color: #35B97A;
	vertical-align: top;
	line-height: 35px;
	padding: 0 15px;
	background-clip: padding-box;
	cursor: pointer;
	margin-bottom: 10px;
}
.beta-email-submit-inactive{
	cursor: default;
	background-color: #35B97A;
	&:hover { background-color: #35B97A };
}
.beta-email-submit-outer{
	vertical-align: top;
	display: inline-block;
	/*height: 50px;*/
	border-radius: 30px;
	background-color: rgba(255,255,255,0.25);
	padding: 5px;

}
.beta-email-submit-inner{
	display: inline-block;
	height: 50px;
	border-radius: 25px;
	background-color: #56D296;
	padding: 0 20px;
	line-height: 50px;
	font-size: 25px;
	font-weight: 400;
	color: #FFF;
	cursor: pointer;

	&:hover { background-color: #35B97A };
}
.beta-email-submit-inactive{
	cursor: default;
	background-color: #35B97A;
	&:hover { background-color: #35B97A };
}
.beta-message{
	border-radius: 10px;
	padding: 10px;
	font-weight: 300;
	font-size: 18px;
	color: #FFF;
	margin: 10px 20% 0;
	background-color: rgba(0,0,0,0.2);
}

/*menu*/
.landing-manu-bar{
	height: 10px;
	margin-top: 10px;

}
.landing-menu{
	border-top: 10px solid #E1FDEF;
	margin-top: -10px;
	height: 55px;
	background-color: #FFF;
	z-index: 5;
}
.landing-menu-inner{
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.menu-item-bird{
	height: 25px;
	width: auto;
	margin-right: 50px;
	vertical-align: text-bottom;
}
.menu-item{
	display: inline-block;
	line-height: 55px;
	margin-right: 50px;
	color: #56D296;
	cursor: pointer;
	&:hover { color: #35B97A };
}
.menu-item-strong{
	font-weight: 500;
}

@media @wu700 {
	.landing-header{
		padding: 0 5%;
	}
	.header-bird{
		height: 25px;
		margin-top: 25px;
	}
	.header-logo{
		height: 45px;
		margin-top: 25px;
	}
	.header-sub-header {
		margin-top: 50px;
		font-size: 30px;
	}
	.beta-text{
		margin-top: 50px;
		font-size: 20px;
		margin-bottom: 0;
	}
	.beta-email-control{
		/*margin: 0 10px;*/
		margin-top: 15px;
	}
	.beta-email-input{
		width: 300px;
		font-size: 25px;
	}
	.beta-email-icon{
		display: none;
	}
	.beta-email-submit-outer{
		margin-top: 15px;
	}
	.landing-menu-inner{
		padding-left: 15px;
	}
	.menu-item-bird{
		margin-right: 25px;
	}
	.menu-item{
		margin-right: 25px;
	}
}

@media @wu370 {
	.beta-email-input{
		width: 250px;
	}
}
