body {
  background-color: #7DE5B3;
}
.landing-header {
  display: table;
  min-height: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.landing-header-inner {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
.header-bird {
  height: 45px;
  width: auto;
}
.header-logo {
  height: 40px;
  width: auto;
  margin-bottom: 20px;
}
.header-logo-mobile {
  display: none;
}
.landing-panel-1 {
  width: 30%;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
}
.phone-mockup {
  position: relative;
  display: block;
  /*height: 542px;*/
  /*width: 282px;*/
  padding-bottom: 192.19%;
  background-image: url(/img/mockup.png);
  background-size: 100%;
}
.video-container {
  position: absolute;
  top: 7.5%;
  left: 4%;
  right: 4%;
  bottom: 7.5%;
}
.landing-panel-2 {
  display: inline-block;
  vertical-align: top;
  width: 69%;
  padding: 150px 75px 75px;
  box-sizing: border-box;
}
.header-sub-header {
  font-size: 30px;
  font-weight: 500;
  color: #FFF;
  text-align: left;
}
.appstore-badges {
  margin-top: 50px;
  /*height: 100px;*/
}
.header-store-badge {
  cursor: pointer;
}
/*menu*/
.landing-menu {
  border-top: 10px solid #E1FDEF;
  margin-top: -10px;
  min-height: 55px;
  background-color: #FFF;
  z-index: 5;
}
.landing-menu-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.menu-item-bird {
  height: 25px;
  width: auto;
  margin-right: 40px;
  vertical-align: text-bottom;
}
.menu-item {
  display: inline-block;
  line-height: 55px;
  margin-right: 40px;
  color: #56D296;
  cursor: pointer;
}
.menu-item:hover {
  color: #35b97a;
}
.menu-item-strong {
  font-weight: 500;
}
@media only screen and (max-width: 1000px) {
  .landing-panel-2 {
    padding: 120px 20px 50px;
  }
}
@media only screen and (max-width: 770px) {
  .landing-header {
    max-width: 400px;
  }
  .landing-header-inner {
    text-align: center;
  }
  .header-logo-mobile {
    display: inline-block;
    padding-top: 20px;
    margin-bottom: 0px;
  }
  .header-logo-desktop {
    display: none;
  }
  .landing-panel-1 {
    display: block;
    width: 100%;
    padding: 40px;
  }
  .landing-panel-2 {
    display: block;
    padding: 20px;
    width: 100%;
  }
  .header-sub-header {
    font-size: 25px;
    text-align: center;
  }
  .appstore-badges {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 700px) {
  .landing-menu-inner {
    padding-left: 15px;
  }
  .menu-item-bird {
    margin-right: 25px;
  }
  .menu-item {
    margin-right: 25px;
  }
}
.optout {
  min-height: 100%;
  background-color: #7DE5B3;
  text-align: center;
}
.optout-container {
  display: inline-block;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  color: #FFF;
  text-align: left;
}
.opt-logo-container {
  text-align: left;
}
.opt-logo {
  width: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.opt-header {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 25px;
}
.opt-message {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 50px;
}
.opt-form {
  margin-bottom: 50px;
}
.opt-step {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
.opt-instruction {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
}
.opt-input {
  outline: none;
  border: 1px solid #CBCBCB;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 80%;
}
.opt-button {
  display: inline-block;
  font-size: 18px;
  height: 37px;
  border-radius: 30px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  background-color: #35B97A;
  vertical-align: top;
  line-height: 35px;
  padding: 0 15px;
  background-clip: padding-box;
  cursor: pointer;
  margin-bottom: 10px;
}
.error-text {
  color: #FF0000;
}
@media only screen and (max-width: 700px) {
  .opt-header {
    font-size: 25px;
  }
  .opt-message {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .opt-step {
    font-size: 22px;
  }
}
@media only screen and (max-width: 370px) {
  .optout-container {
    width: 290px;
  }
  .opt-input {
    max-width: 90%;
  }
}
.privacy {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 50px;
}
.privacy-logo {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.privacy-heading {
  font-size: 35px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 10px;
}
.privacy-heading-1 {
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 10px;
}
.privacy p {
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
}
.media {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px 50px;
}
.media-logo {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.media-heading {
  font-size: 25px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 10px;
}
.media p {
  color: #FFF;
  font-weight: 300;
  font-size: 20px;
}
.media a {
  text-decoration: underline;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
.full {
  height: 100%;
}
